:root {
    --main-color:#274A66;
    --main-color-dark:#2C4153;
    --secondary-color:#FFAA00;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*Header*/
.header-container{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: var(--main-color);
    color: var(--secondary-color);
    border-bottom: 1px solid black;
}

.header-align{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{ 
    width: 180px;
    height: 60px;
    margin-left: 8px;
}

.logo:hover{
    transition: 0.2s all ease-in;
    filter: brightness(110%);
}

.start{
    margin-left: 16px;
    font-weight: bold;
    font-size: 20px;
    color: var(--secondary-color);
    text-decoration: none;
}

.start:hover{
    transition: 0.2s all ease-in;
    filter: brightness(110%);
}

.create-container{
    margin-left: 16px;
    margin-right: 8px;
}

.create-button{
    font-weight: bold;
    background-color: var(--secondary-color);
    color: white;
    height: 40px;
    padding: 8px 12px;
    font-size: 20px;
    cursor: pointer;
    border-color: var(--main-color-dark);
    border-radius: 5px;
}

.create-button:hover{
    transition: 0.2s all ease-in;
    filter: brightness(110%);
}

/*Navbar*/

.nav-container{
    margin-right: 8px;
}

.nav-form{
    display: flex;
}

.navbar{
    font-weight: bold;
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--secondary-color);
    height: 40px;
    font-size: 24px;
    padding: 5px;
    border-radius: 5px;
}

.nav-button{
    margin-left: -8px;
    cursor: pointer;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.nav-button:hover{
    transition: 0.2s all ease-in;
    filter: brightness(110%);
}

.nav-button-icon{
    width: 40px;
    height: 40px;
}

.nav-checkbox{
    display: none;
}

.nav-toggle{
    display: none;
    position: absolute;
    margin: 0rem 1rem;
    right: 0;
    cursor: pointer;
}

.menu{
    height: 60px;
    width: 60px;
}

.close{
    margin-top: 1px;
    margin-right: 1px;
    height: 58px;
    width: 58px;
}

.current{
    font-weight: bold;
    text-decoration: underline;
}

.hide{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
        color: white;
}

/*Body*/

body{
    background-color: var(--main-color-dark);
}

label{
    font-size: 16px;
}

.content{
    margin-bottom: 96px;
    margin-left: 16px;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-template-rows: 1fr; 
    gap: 16px 24px; 
    margin-right: 16px;
}

.info-container{
    text-align: start;
}

.info-container p{
    margin-left: 4px;
}

.movie-card{
    word-break: break-all;
    box-shadow: 0px 0px 5px black;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    padding: 8px 0px;
    background-color: var(--main-color);
    color: white;
    border: 1px solid black;
    margin-top: 8px;
}

.movie-card:hover{
    transform: scale(1.025, 1.025);
}

.movie-title{
    border-bottom: 1px solid black;
}

.movie-image{
    object-fit: cover;
    width: 100%;
    height: 400px;
    border: 1px solid var(--main-color-dark);
}

.movie-card-button{
    margin-left: 1px;
    margin-right: 1px;
    margin-top: -8px;
    gap: 1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.movie-button{
    width: 100%;
    font-size: 24px;
    cursor: pointer;
    margin: 3px 0px;
    background-color: var(--secondary-color);
    color: white;
    padding: 5px;
    font-weight: bold;
}

.movie-button:hover{
    transition: 0.2s all ease-in;
    filter: brightness(110%);
}

/*Footer*/
.footer-container{
    border-top: 1px solid black;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--main-color);
    color: var(--secondary-color);
    text-align: center;
}

.footer-icon{
    cursor: pointer;
    padding-bottom: 6px;
    width: 40px;
    height: 40px;
}

.footer-icon:hover{
    transition: 0.2s all ease-in;
    filter: brightness(110%);
}

.footer-logo{
    width: 144px;
    height: 48px;
}

.footer-message{
    padding-bottom: 6px;
}

@media only screen and (max-width: 825px) {
    /*Header*/
    .header-container{
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .header-align{
        width: 100%;
        margin: 0;
        flex-direction: column;
    }

    .nav-container{
        margin: 0px;
        flex-direction: column;
        margin-bottom: 8px;
    }

    .logo{
        margin: 0px;
    }

    .start{
        margin: 0px;
        margin-bottom: 8px;
    }

    .create-container{
        margin: 0px;
        margin-bottom: 8px;
    }

    .nav-toggle{
        margin-top: 3px;
        display: inline;
    }

    .nav-toggle:hover{
        transition: 0.2s all ease-in;
        filter: brightness(110%);
    }

    .close{
        display: none;
    }

    .mobile-display{
        display: none;
    }

    .hide{
        display: block;
    }

    #nav-checkbox:checked ~ .mobile-display{
        display: block;
    }

    #nav-checkbox:checked ~ .hide .mobile-display{
        display: block;
    }

    #nav-checkbox:checked ~ .hide label.nav-toggle .close{
        display: block;
    }

    #nav-checkbox:checked ~ .hide label.nav-toggle .menu{
        display: none;
    }

}